html,body {
  margin:0;
  padding:0;
}
.images{
    width:100%;
    height:100%;
   } 

.fcontainer  {
  padding-top: 56px;
  margin: 0;
  position: relative;
  text-align: center;
  color: gray;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 150px;
  left: 30px;
  width: 500px;
  color:white;
  font-weight: bold;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 18px;
}
.banner {
  margin: 0;
  font-size: 1vw;
  display: inline;
}


/* .fcontainer {
  padding-top: 56px;
  margin: 0;
  position: relative;
  text-align: center;
  color: gray;
}

/* Top left text */
/* .top-left {
  position: absolute;
  top: 200px;
  left: 30px;
  width: 500px;
  color:white;
  font-weight: bold;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 18px; */ 

