body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
}
.nav {
  z-index:  1;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 1 / 1; }
  .div2 { grid-area: 2 / 1 / 4 / 6; }
  .div3 { grid-area: 4 / 1 / 6 / 6; }


  .projecto {
    background-color: lightgrey;
    width: 500px;
    padding: 50px;
    margin: 20px;
  }